<nav>
  <button type="button" class="btn btn-outline-primary" id="linkCrearReserva" routerLink="./crear"
    routerLinkActive="active">Crear
    reserva</button>
  <button type="button" class="btn btn-outline-primary" id="linkConsultarReserva" routerLink="./consultar"
    routerLinkActive="active">consultar reserva</button>
  <button type="button" class="btn btn-outline-primary" id="linkActualizarReserva" routerLink="./actualizar"
    routerLinkActive="active">actualizar reserva</button>
</nav>
<router-outlet></router-outlet>